<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <div class="card-title">
                <h6>About me</h6>
                <hr />
            </div>
            <p>Very communicative person, ready for any work and challenges. Eager to learn new technologies and to
                adopt new skills. Ability to work in team or individually.</p>
            <p>Future
                Currently looking for new company to put my career on next level, long term plan is commitment to
                serious company where i could enhance my knowledge both professional and well personally.</p>
        </div>
    </div>
</div>