<div class="container">
    <div class="card mt-2">
        <div class="card-body">
            <div class="row justify-content-center mb-5">
                <div class="text-justify">
                    <h4 class="mb-3">You can contact me at any time by e-mail and phone:</h4>
                    <p class="text-center h5"><a id="link" href="mailto: vujicaco@gmail.com">vujicaco@gmail.com</a></p>
                    <p class="text-center h5">065/27-37-447</p>
                </div>
            </div>
        </div>
    </div>
</div>